/* =============
    Demo
============= */

#svg-demo{
    
    display: grid;
    grid-template-columns: auto 50% auto;
    grid-template-areas: ". svg .";
    >div{
        grid-area: svg;
        border: 1px solid black;
        
        svg{
            border: 1px solid green;
        }
    }
}